---
layout: default
title: About Me
---
/ use the :markdown filter if you want to write pages with Markdown

.about

  :textile
    h1. Hello.  
  
    I'm Matt Scilipoti.
  
    I code.
    I am agile.
    I add to production capacity.

    I can do it alone.
    But... I excel in a team.

    I need input.
    I share (as coach, mentor, trainer, and presenter).

    I support Free/Libre/Open Source Software.
    I stay on the (b)leading edge.
    I love this stuff.

    h3. I know -- really know

    Ruby, Rails C#, VB.NET

    Agile Methodologies (XP, Scrum)

    Agile Object Oriented Practices

    h3. I have some experience in

    Public Speaking

    Sales
